VITE_CESIUM_TOKEN=your_own_ion_cesium_token_here

# Go to: https://ion.cesium.com/ 
# Create and account and click Access Tokens in the menu.
# Create a new token and copy the value to the .env file as shown above.

# no "" or '' needed around the token, just remove the "your_own_ion_cesium_token_here" and paste the token value.

# You are free to remove .example from the .env.example name making it into a .env instead of creating a new file..