{
    local_certs
}

# Snippet for reusable TLS configuration
(lnu_tls) {
    tls {
        issuer internal

        issuer acme {
            dir https://ca.camp.lnu.se:9000/acme/acme/directory
            trusted_roots /etc/ssl/certs/LNU_FTK_Campus_Root_CA_2025.crt
        }
    }
}

{$SITE_ADDRESS:localhost} {
    import lnu_tls
    reverse_proxy server:3000

    log {
        output stdout
        format json
    }
}